body {
    padding: 0;
    margin: 0 auto;
}

.container {
    text-align: center;
    margin-top: 2%;
}

#dropDown {
    display: flex;
    justify-content: center;
}

#card {
    display: flex;
}

.card {
    margin-right: 1%;
}

